/**
 * Monokai style - ported by Luigi Maselli - http://grigio.org
 */
.hljs {
  display: block;
  font-family: 'PT Mono', Monaco, Consolas, monospace;
  overflow-x: auto;
  font-weight: normal;
}

.light .hljs {
  color: #ddd;
}

.print-mode.light .hljs {
  color: #666;
}

.light .hljs-tag,
.light .hljs-keyword,
.light .hljs-selector-tag,
.light .hljs-strong,
.light .hljs-name {
  color: #499fe6;
}

.light .hljs-literal {
  color: #49e6b2;
}

.print-mode.light .hljs-literal {
  color: #09a16f;
}

.light .hljs-number {
  color: orange;
}

.light .hljs-code {
  color: #66d9ef;
}

.light .hljs-attribute,
.light .hljs-symbol,
.light .hljs-regexp,
.light .hljs-link {
  color: #bf79db;
}

.light .hljs-class,
.light .hljs-string,
.light .hljs-bullet,
.light .hljs-subst,
.light .hljs-title,
.light .hljs-section,
.light .hljs-emphasis,
.light .hljs-type,
.light .hljs-built_in,
.light .hljs-builtin-name,
.light .hljs-selector-attr,
.light .hljs-selector-pseudo,
.light .hljs-addition,
.light .hljs-variable,
.light .hljs-template-tag,
.light .hljs-template-variable {
  color: #a6e22e;
}

.print-mode.light .hljs-class,
.print-mode.light .hljs-string,
.print-mode.light .hljs-bullet,
.print-mode.light .hljs-subst,
.print-mode.light .hljs-title,
.print-mode.light .hljs-section,
.print-mode.light .hljs-emphasis,
.print-mode.light .hljs-type,
.print-mode.light .hljs-built_in,
.print-mode.light .hljs-builtin-name,
.print-mode.light .hljs-selector-attr,
.print-mode.light .hljs-selector-pseudo,
.print-mode.light .hljs-addition,
.print-mode.light .hljs-variable,
.print-mode.light .hljs-template-tag,
.print-mode.light .hljs-template-variable {
  color: #7ba724;
}

.light .hljs-comment,
.light .hljs-quote,
.light .hljs-deletion,
.light .hljs-meta {
  color: #c3c0af;
}

.print-mode.light .hljs-comment,
.print-mode.light .hljs-quote,
.print-mode.light .hljs-deletion,
.print-mode.light .hljs-meta {
  color: #999;
}
