.node .label,
text.actor {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif !important;
}

.node rect {
    fill: #c6b736 !important;
    rx: 27;
    ry: 100;
}

.node .label {
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    transform: translate(0, 1px);
}

rect.actor {
    fill: #c6b736 !important;
}

text.actor {
    fill: #000;
    stroke: none;
    font-weight: bold;
    font-size: 22px;
}

.messageText {
    fill: #ffeb3b !important;
}

.print-mode.messageText {
    fill: #333333 !important;
}

.arrowheadPath,
#arrowhead {
    fill: #64b5f6 !important;
}

[class^="messageLine"] {
    stroke: #64b5f6 !important;
    stroke-width: 3px !important;
}

.actor-line {
    stroke-width: 2px !important;
}

.edgePath .path {
    stroke: #64b5f6 !important;
    stroke-width: 2px !important;
}

.edgeLabel {
    background-color: #222 !important;
    color: #ffeb3b;
    font-size: .9em;
    padding: 0 .5em;
}